body {
  background-color: rgba(128, 128, 128, 0.589);
}

header {
  border: 1px solid rgb(9, 184, 9);
  margin: -5px 0.5px;
  background-color: rgb(9, 184, 9);
}

h2 {
  text-align: center;
}

.head {
  font-family: 'Courier New', Courier, monospace;
  font-size: 61px;
}

header img {
  width: 50px;
  height: 50px;
  float: right;
  padding: 4px;

}

nav {
  border: 1px solid rgba(71, 223, 71, 0.808);
  background-color: rgba(25, 211, 25, 0.685);
  padding: 20px 2px;
  margin: 9px;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 58px;
  font-size: 20px;

}

main {
  border: 1px solid rgba(9, 184, 9);
  background-color: rgba(9, 184, 9);
  margin: 10px 0.5px;
}

article {
  border: 1px solid rgba(25, 211, 25, 0.685);
  background-color: rgba(25, 211, 25, 0.685);
  margin: 10px 350px 10px 10px;
  height: 350px;
}

article p {
  padding: 5px;
}

aside {
  border: 1px solid rgba(25, 211, 25, 0.685);
  background-color: rgba(25, 211, 25, 0.685);
  float: right;
  margin: -362px 10px;
  width: 320px;
  height: 350px;
}

aside h2 {
  text-align: center;
}

img {
  width: 140px;
  height: 123px;
}

div {
  display: inline-flex;
  margin-left: 20px;
  margin-right: 30px;

}

footer {
  border: 1px solid rgba(25, 211, 25, 0.685);
  background-color: rgba(25, 211, 25, 0.685);
  margin: 10px 0.5px;
}

footer p {
  padding: 10px;
}